<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" tempDirectory="\tmp">
      <assemblies>
        <!-- <add assembly="MySql.Data, Version=8.0.12.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/> 
        <add assembly="MySql.Data, Version=8.0.19.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=210.56.29.151;Initial Catalog=uaf.edu.pk;Persist Security Info=True;User ID=uafuser;Password=******;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 7b6c0b61-b5e3-4528-926d-b1cda39457eb-->
